<!DOCTYPE html>
<html>
<head>
	<title>File Selector</title>
	<style>
		ul {
			list-style-type: none;
		}
		.caret {
			cursor: pointer;
			user-select: none;
		}
		.caret::before {
			content: "\25B6";
			color: black;
			display: inline-block;
			margin-right: 6px;
		}
		.caret-down::before {
			transform: rotate(90deg);
		}
		.nested {
			display: none;
		}
		.active {
			display: block;
		}
	</style>
</head>
<body>
	<h1>File Selector</h1>
	<ul id="file-tree">
		{{template "file" .}}
	</ul>
	<textarea id="selected-files" rows="10" cols="80"></textarea>
	<button onclick="copySelectedFiles()">Copy</button>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			var toggler = document.getElementsByClassName("caret");
			var i;

			for (i = 0; i < toggler.length; i++) {
				toggler[i].addEventListener("click", function() {
					this.parentElement.querySelector(".nested").classList.toggle("active");
					this.classList.toggle("caret-down");
				});
			}

			var checkboxes = document.querySelectorAll("input[type=checkbox]");
			
			function updateSelectedFiles() {
				var selectedFiles = [];
				var checkedCheckboxes = document.querySelectorAll("input[type=checkbox]:checked");
				for (var i = 0; i < checkedCheckboxes.length; i++) {
					selectedFiles.push(checkedCheckboxes[i].value);
				}
				document.getElementById("selected-files").value = selectedFiles.join(" ");
			}

			for (i = 0; i < checkboxes.length; i++) {
				checkboxes[i].addEventListener("change", function() {
					var childCheckboxes = this.parentElement.querySelectorAll("ul input[type=checkbox]");
					for (var j = 0; j < childCheckboxes.length; j++) {
						childCheckboxes[j].checked = this.checked;
					}

					if (!this.checked) {
						var parentNode = this.parentElement.parentElement.parentElement;
						while (parentNode && parentNode.tagName === 'LI') {
							var parentCheckbox = parentNode.querySelector("input[type=checkbox]");
							if (parentCheckbox) {
								parentCheckbox.checked = false;
							}
							parentNode = parentNode.parentElement.parentElement;
						}
					}
					updateSelectedFiles();
				});
			}
		});

		function copySelectedFiles() {
			var selectedFiles = document.getElementById("selected-files");
			selectedFiles.select();
			document.execCommand("copy");
		}
	</script>

	{{define "file"}}
		<li>
			<input type="checkbox" value="{{.Path}}">
			{{if .Children}}
				<span class="caret">{{.Name}}</span>
				<ul class="nested">
					{{range .Children}}
						{{template "file" .}}
					{{end}}
				</ul>
			{{else}}
				{{.Name}}
			{{end}}
		</li>
	{{end}}
</body>
</html>